body {
    padding: 0;
    margin: 0;
}

.maptest {
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }

html, body, #map {
    height: 100%;
    width: 100%;
}

.statusTable td {
    min-width: 17px;
    text-align: center;
    border: 1px solid #4f565f;
  }

.available {
    background-color: green;
    color: white; 
}

.notAvailable {
    background-color: red;
    color: white;
}